* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /*font-size: 10px; Определить позже*/
}

nav,
div,
footer,
header,
section,
ul,
li {
  display: block;
}

a {
  text-decoration: none;
}


ul li {
  list-style: none;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Gilroy-Thin.woff2') format('woff2'),
    url('../fonts/Gilroy-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
    url('../fonts/Gilroy-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}


body {
  background-color: #66e3ece3;
  font-family: 'Gilroy';
}

header {
  max-width: 1136px;
  height: 834px;
  background: #E5E5E5;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

main {
  width: 1136px;
  background: #E5E5E5;
  margin: 0px auto;
}

nav ul {
  display: flex;
  align-self: center;
  margin: 0px -16px;
}

nav li {
  margin: 0px 16px;
  align-self: center;
  flex-shrink: 0;
  font-weight: 600;
  padding-top: 39px;
  z-index: 1
}

nav a.social {
  display: inline-block;
  border: 2px solid white;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  text-decoration: none;
}

nav a:active {
  font-weight: 700;
  text-decoration-line: underline;
}

nav a:link {
  color: black;
  font-weight: 700;
}

nav a:visited {
  font-weight: 700;
  text-decoration-line: underline;
  color: #6B6B6B;
}

.push-menu {
  margin-left: 178px;
}

.push-social {
  margin-left: 282px;
}

.social__vk {
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background: url(../images/vk-icon.svg) no-repeat;
  /* Добавляем фон */
  background-position: 50% 50%;
}

.social__inst {
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background: url(../images/inst-icon.svg) 100% 100% no-repeat;
  /* Добавляем фон */
  background-position: 50% 50%;
}

a.social:hover {
  background: #FFD458;
  z-index: -1;
}

a.social:visited {
  background: #FFBC00;
  z-index: -1;
}

.wrapper__dog {
  background: url(../files/dog1.jpg) no-repeat;
  position: absolute;
  width: 708px;
  height: 713px;
  left: 428px;
  top: 0px;
  z-index: 0;
  border-radius: 0px 0px 8px 8px;
  /* скругления внизу картинки */

}

.wrapper__cat {
  background: url(../images/cat1.png) no-repeat;
  position: absolute;
  width: 483px;
  height: 469px;
  left: 497px;
  top: 470px;
  z-index: 1;
}

h1,
h2,
h3 {
  display: block;
  position: relative;
}

h3 {
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  color: #242424;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  color: #242424;
}

h5 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.slogan {
  font-weight: 700;
  margin-top: 76px;
  font-size: 72px;
  line-height: 87, 05px;
}

.name {
  font-weight: 300;
  margin-top: 2px;
  font-size: 16px;
  color: #6B6B6B;
  line-height: 18px;
}

.target {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 44px;
  width: 659px;
  color: #474747;
}

header p {
  position: relative;
  height: 116px;
  width: 428px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #C78100;
  margin-top: 43px;
  z-index: 3;
  margin-bottom: 44px;
}

.wrapper__promise__upper {
  position: absolute;
  background: url(../images/text1.png) no-repeat;
  height: 192px;
  width: 599px;
  left: -110px;
  top: 374px;
  opacity: 50%;
}

.wrapper__promise__average {
  position: absolute;
  background: url(../images/text2.png) no-repeat;
  height: 107px;
  width: 534px;
  left: -110px;
  top: 566px;
  opacity: 50%;
}

.wrapper__promise__lower {
  position: absolute;
  background: url(../images/text3.png) no-repeat;
  height: 107px;
  width: 474px;
  left: 186px;
  top: 671px;
  opacity: 50%;
}

a.button__help {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 3;
  border-radius: 58px;
  height: 42px;
  width: 182px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  font-size: 20px;
  color: black;
  background: #FBC832;
}

.button__help:hover {
  background: #FFDF86;
}

.button__help:active {
  background: #F6B40C;
}

.description {
  position: relative;
  display: flex;
  background: #FFFFFF;
  height: 650px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.description__wrapper {
  position: relative;
  left: -110px;
  background: #FFC41E;
  height: 521px;
  width: 343px;
  margin: 0 0 2.5% 0;
}

.description__wrapper__dog {
  position: relative;
  background: url(../files/Ellipse25.png) 50% 50%/100% 100% no-repeat;
  width: 521px;
  height: 521px;
  left: 78px;
  border-radius: 50%;
  border: 24px solid #FFC41E;
}

.description__wrapper__cat {
  position: relative;
  background: url(../files/Ellipse39.png) 50% 50%/100% 100% no-repeat;
  width: 245px;
  height: 245px;
  left: 383px;
  top: -215px;
  border-radius: 50%;
  z-index: 2;
  border: 9px solid #FFC41E;
}

.description__text {
  margin-left: 223px;
  height: 650px;
  width: 60%;
}

.description__text h3 {
  display: inline-block;
  width: 466px;
  height: auto;
  margin: 128px 0px 8px 0px;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #C78100;
}

.menu {
  height: 470px;
  width: 100%;
}

.menu h3 {
  padding: 80px 0 47px 0;
}

.menu__help {
  display: flex;
  justify-content: space-between;
}


.menu__help li {
  text-align: center;

}


.menu__help__button {
  display: inline-block;
  border: 2px solid #FFC41E;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-decoration: none;
}

.menu__help p {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  color: #474747;
}

.menu__help__button__home {
  background: url(../images/Group_8.svg) 100% 100% no-repeat;
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background-position: 50% 50%;
  z-index: 1;
}

.menu__help__button__money {
  background: url(../images/Group_5.svg) 100% 100% no-repeat;
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background-position: 50% 50%;
  z-index: 1;
}

.menu__help__button__food {
  background: url(../images/Group_6.svg) 100% 100% no-repeat;
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background-position: 50% 50%;
  z-index: 1;
}

.menu__help__button__auto {
  background: url(../images/Group_7.svg) 100% 100% no-repeat;
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background-position: 50% 50%;
  z-index: 1;
}

.menu__help__button__walk {
  background: url(../images/Group_12.svg) 100% 100% no-repeat;
  height: 100%;
  /* Высота и ширина блока */
  width: 100%;
  /* Высота и ширина блока */
  background-position: 50% 50%;
  z-index: 1;
}

.menu__help__button:hover {
  background: #FFFFFF;
  z-index: -1;
}

.menu__help__button:active {
  background: #F8ECCB;
  z-index: -1;
}

.line {
  height: 120px;
  width: 100%;
  background: url(../images/Frame_61.svg) 50% 50%/auto 100% no-repeat;
}

.annotation {
  display: flex;
  justify-content: space-around;
  padding: 0 106px 0 174px;
}

.annotation__help {
  height: auto;
  width: 378px;
  margin: 69px 0px 72px 0;
}

.annotation__help h4 {
  padding: 0 0 20px 0
}

.animal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 22px;
}






figure {
  border: thin red solid;
  display: flex;
  flex-flow: column;
  padding: 16px;
  max-width: 368px;
  max-height: 695px;
  border: 1px solid #D6D6D6;
  margin: 11px 0px 11px 0px;
  
}

img {
  max-width: 335px;
  max-height: 356px;
}

.animal__name {
  padding: 8px 0px 10px 0px;
  border-bottom: 1px solid #D6D6D6;
  margin: 8px 0px;
}

.animal__about {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #6B6B6B;
}

.animal__properties {
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
margin-bottom: 35px;
}

a.button__give__home {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 3;
  border-radius: 58px;
  height: 42px;
  width: 182px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  font-size: 20px;
  color: black;
  background: #FBC832;
}

